h1 Users
p
	a(href='/users/new') Create new profile

ul
	- for(var i in users) {
		li
			a(href="/users/" + encodeURIComponent(users[i].username))= users[i].name
	- };

- if (page > 0) {
	a(href="?page=" + (page - 1)) Previous
	&nbsp;
- }

- if (! lastPage) {
	a(href="?page=" + (page + 1)) Next
- }
